@font-face {
  font-family: Geneva9;
  src: url("fonts/FindersKeepers.ttf")
}

@font-face {
  font-family: Chicago_12;
  src: url("fonts/ChiKareGo2.ttf"); 
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Layout: */

.col-main {
  flex: 1;
}  

.col-complementary {
  flex: 1;
}

aside {
  width: 200px;
  position: sticky;
  top: 18px;
  bottom: 0;
  display: flex;
  align-items: stretch;
  height: calc(100vh - 36px);
}

html {
  font-family: "Inconsolata", Menlo, Chicago, Geneva;
  font-size: 18px;
  letter-spacing: -0.025em;
  min-height: 100vh;
}

h3 {
  font-family: Chicago;
  font-size: 1.5em;
}

.heading {
  font-size: 3rem;
}

.desc {
  font-family: Geneva_9;
  font-size: 2em;
}


.center {
  text-align: center;
}

.component {
  display: flex;
  margin-top: 24px;
  font-family: Geneva;
  font-size: 1em;
}

.alert-text,
.dialog-text,
.modal-text,
.modeless-text {
  font-family: Chicago_12;
  font-size: 1em;
  font-weight: normal;
}

.dialog-text {
  margin-top: 20px;
}

.modal-text, .alert-text {
  font-size: 1.2em;
  margin-top: 10px;
}

p {
  font-family: Geneva;
  font-size: 0.9em;
}


blockquote {
  margin: 0 0 20px;
  padding: 20px;
  width: 80%;
  font-size: 14px;
  border: 1px solid black;
}

blockquote footer {
  margin: 12px 0 0 12px;
}

.example {
  margin: 16px;
  padding: 12px 24px;
  border-left: 1px solid #000000;
}

summary {
  font-size: 14px;
  padding-top: 10px;
  cursor: pointer;
  margin: 12px 0 0 0;
  width: 30%;
}

pre {
  font-size: 13px;
}

.modal-dialog {
  width: 50%;
}

.btn.active {
  background: black;
  border-radius:6px;
  color: white;
  font-family: Chicago_12;
}

.square {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1.5px solid black;
  padding-right: 46px;
}

.menu-items {
  padding: 0;
  font-size: 14px;
}

/* responsive shiz */
@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
    justify-content: space-between;
  }
  .standard-dialog {
    margin-right: 20px;
    margin-top: 18px;
  }
  .sidebar {
    z-index: 1;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none !important;
  }
  .example {
    margin: 0px;
  }
  .component {
    display: contents;
  }
  .scale-down {
    transform: scale(0.8);
  }
}